# python artifacts
__pycache__/
*.egg-info/
build/
files.txt

# pixi environments
.pixi/*
!.pixi/config.toml

# Ignore mesh/texture assets in fiatlux_mujoco mjcf, keep only .xml
fiatlux_utils/fiatlux_mujoco/mjcf/*.obj
fiatlux_utils/fiatlux_mujoco/mjcf/*.stl
fiatlux_utils/fiatlux_mujoco/mjcf/*.png

# Ignore fiatlux_isaac usd assets
fiatlux_utils/fiatlux_isaac/fiatlux_isaaclab/source/fiatlux_task/fiatlux_task/tasks/manager_based/fiatlux_task/Intrinsic_assets/

